/* Навигация */
.navigation {
  border-bottom: 1px;
  border-bottom-style: solid;
  border-bottom-color: #ececec;
  background-color: red;
}

@media screen and (max-width: 480px) {
  .page,
  .connection {
    display: none;
  }
}

.nav {
  // width: 1200px;
  // height: 80px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;

  @media screen and (max-width: 480px) {
    padding-top: 16px;
    padding-bottom: 16px;
  }
  @media screen and (min-width: 481px) and (max-width: 768px) {
    padding-top: 26px;
    padding-bottom: 26px;
  }

  @media screen and (min-width: 769px) {
    padding-top: 24px;
    padding-bottom: 25px;
    display: flex;
    align-items: center;
  }
}

/* переход на страницы */

.link {
  color: var(--text-color);
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0s;
}

.page {
  @media screen and (min-width: 481px) {
    display: flex;
    margin-left: 93px;

    &__link {
      display: block;
      padding-top: 32px;
      padding-bottom: 32px;
      position: relative;
    }
    &__item:not(:last-child) {
      margin-right: 50px;
    }
    &__link--current {
      color: var(--background-color-blue);
    }
    &__link--current::after {
      position: absolute;
      bottom: 0;
      left: 0;
      content: '';
      display: block;
      width: 100%;
      height: 4px;
      border-radius: 2px;
      background: #2196f3;
    }
  }
  @media screen and (max-width: 480px) {
    display: none;
  }
}

.connection {
  @media screen and (min-width: 481px) {
    display: flex;
    margin-left: auto;

    &__link {
      display: block;
      padding-top: 32px;
      padding-bottom: 32px;
      color: #757575;
    }

    &__item:not(:last-child) {
      margin-right: 50px;
    }
  }
  @media screen and (max-width: 480px) {
    display: none;
  }
}
.link svg {
  fill: #757575;
  margin-right: 10px;
}

.link:hover svg {
  fill: var(--background-color-blue);
}
.link:hover,
.link:focus {
  color: var(--background-color-blue);
}
