/* Logo */

.logo {
  color: var(--text-color);
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;

  span {
    color: var(--background-color-blue);
  }
}
